@model IEnumerable<HostelManagementSystem.Models.Student>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<h1>Details of indivisual room</h1>
<table class="table">
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-secondary mx-3" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" class="btn btn-primary mx-3"  asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" class="btn btn-danger mx-3"  asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

