@model IEnumerable<HostelManagementSystem.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Add New Room</h1>

<p>

    <button id="addRoom" type="button"  class="btn btn-dark">
        <a class="text-white text-decoration-none" asp-action="Create">Create New</a>
    </button>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.roomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vacancy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td >
                    <a class="btn btn-primary"  asp-action="DisplayRoomies" asp-route-id="@item.Id">@item.roomNo</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vacancy)
            </td>
            <td>
                    <a asp-action="Details" class="btn btn-secondary mx-3" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Edit" class="btn btn-primary mx-3"  asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger mx-3" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
